@import url('https://fonts.googleapis.com/css?family=Barlow:300,300i,400,400i,500,500i,600,800i,900i&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, "Barlow";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-image: url("background2.png");
  padding: 20px;
  margin: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1, h2, p, ul, li {
  font-family: 'Barlow', sans-serif;
}

.card{
  border: 1px solid black;
  border-radius: 1rem;
  border-color: #d4d4d5;
  background-color: #fff;
  right: 0;
  left: 0;
}


.margin-none{
  margin:0;
}


.header {
  margin: 1rem 0 0 1rem ; 
  padding: 1rem;
  padding-left:0;
}

.item{
  background: 0 0;
  /* border-bottom: none;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 2px solid transparent; */
  padding: 1rem;
  font-weight: 600;
  color: rgba(0,0,0,.87);
  text-decoration: none;
}

.center{
  text-align: center;
}

.display{
  display: block;
}

.form{
  display: inline-flex;
  padding: 0 1rem 1rem 0;
  font-size: 1rem;
}

.display-inline{
  display: inline-flex;
}

.food-group {
  border: 1px solid #744251;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.5rem;
}

li{
  list-style: none;
}
.report{
  overflow-y: scroll;
  height: 350px;
}
.display-inline p {
  margin-right: 1rem;
}

textarea{
  border-radius: 4px;
  resize: none;
  font-size: 1rem;
}

.form input{
  font-size: 1rem;
  border-radius: 4px;
}

.weight{
  width: 3rem;
}

.attribute{
  margin:0 0.5rem 0 0;
  font-weight: 500;
}

button{
  font-size: 1rem;
  border-radius: 4px;
  padding: 0.3rem 1rem;
  background-color: #9AABB5;
  color:#fff;
  margin-left: 1rem;
  /* margin: 0 1rem 0 1rem; */
}

.satuan{
  margin:0 0 0 0.5rem;
}
.page-title{
  font-style: italic;
  font: weight 9;
  letter-spacing: 0.2rem;
  color: #D3C6C2 ;
  
}


h1:nth-child(2) {
  margin-top: -4.1rem;
  color:  #744251;
  z-index: -1;
  margin-left: -0.4rem;
}

button:focus{
  outline : -webkit-focus-ring-color #547A8F 5px;
}




.item.active{
  background: none #fff;
  color: rgba(0,0,0,.95);
  font-weight: 700;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 3px solid #D3C6C2;
  color: #744251;
  
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #ffffff;
  padding: 0;
  width:fit-content;
  margin: 0;
}
ul.header li a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  margin-top: 0.5rem;
  margin-left: 1rem;
  position: relative;
  background-color: #FFF;
  border-radius: 1rem;
  padding: 1rem;
}
.content h2 {
  padding: 0;
  margin: 0;
}

.date-picker{
  font-size: 1rem;
  width: 6rem;
}